<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @version.name %>
</p>

<p>
  <b>Age:</b>
  <%= @version.age %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
